.wrapper {
    display: grid;
    grid-template-columns: repeat(50, 20px);
    grid-auto-rows: 20px;
}

.preto {
    background-color: black;
}

.vermelho {
    background-color: red;
}

.azul {
    background-color: blue;
}